.header{
  background:  #ADBC9F;
  color: black;

}
.text {
  font-size: 20px;
  padding-left: 1px;
  display:flex;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ADBC9F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #436850;
  color: black;
}


.topnav a.active {
  background-color: black;
  color: white;
}


